.navbar span {
    width: 100%;
    text-align: center;
    font-size: 30pt;
}

#sidebar {
    background-color: #f8f9fa;
    padding: 15px;
}

#search-history {
    margin-top: 20px;
}

#current-weather {
    width: 100%
}

.hide {
    display: none !important;
  }