.navbar span {
    width: 100%;
    text-align: center;
    font-size: 30pt;
}

#sidebar {
    background-color: #f8f9fa;
    padding: 15px;
}

#search-history {
    margin-top: 20px;
}

#current-weather {
    width: 100%
}

.hide {
    display: none !important;
}

.forecast {
    background-color: #0366fc;
    margin: 5px;
    border-radius: 5px;
    color: white;
    width: 18%;
    float: left;
}


.uv {
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  .uv-favorable {
    background-color: #9cc601;
  }
  
  .uv-moderate {
    background-color: #f9bc01;
  }
  
  
  .uv-severe {
    background-color: #f54f24;
  }
  